# Make Neovim the default editor
export EDITOR='nvim'
export VISUAL='nvim'

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# zsh: history capacity (in-memory and on-disk)
export HISTSIZE=32768
export SAVEHIST=32768
export HISTFILE=~/.zsh_history

# zsh: ignore duplicates & leading-space commands
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_FIND_NO_DUPS

